.add-task-button {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px dashed #8E8F91;
    color: #8E8F91;
    background: #1E1F23;
    font-size: 1.5rem;
    font-weight: bold;
}