body {
    margin: 0px;
    background-color: #1E1F23;
    color: white;
    font-family: sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.button-general {
    font-size: .9rem;
    font-weight: 700;
    border-radius: 3px;
    padding: .3rem 1rem;
    cursor: pointer;
}
