.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: auto;
}

.login_row_1, .login_row_2 {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.login_row_1 p, .login_row_2 p {
    margin: 0;
} 

.login_button {
    width: 40%;
    margin: 1.5rem 0;
}

.login_button:hover {
    background-color: blue;
}