.login_header {
    box-sizing: border-box;
    padding: 0 4rem;
}

.login_text {
    text-align: center;
    margin-top: 4rem;
    font-size: 3rem;
    font-weight: 500;
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    margin: auto;
}

.login_row_1, .login_row_2 {
    width: 80%;
    margin-bottom: 1.5rem;
}

.login_row_3 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 0.75rem;
}

.checkbox_label {
    display: flex;
    align-items: center;
}

.checkbox {
    margin-right: 6px;
    background-color: #1C4857;
    width: 50px;
}

.forgot_password {
    color: #02E079;
    text-decoration: none;
    font-weight: 400;
}

.input_field {
    width: 100%;
    height: 33px;
    border: none;
    border-radius: 7px;
    box-sizing: border-box;
    padding: 8px;
    font-size: 0.7rem;
    color: white;
    background-color: #1C4857;
}

.input_field::placeholder {
    color: white;
}

.login_button {
    width: 80%;
    margin: 1.5rem 0;
    height: 33px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: #02E079;
    color: white;
    font-weight: bold;
}

.login_button:hover {
    
}

.no_account_text {
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.no_account_text span {

}