.navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 20px;
    /* background-color: #090A0C; */
    height: auto;
}

.timebox {
    text-align: right;
    margin: 20px;
    letter-spacing: 1px;
    font-weight: lighter;
}

.T_of_timebox {
    border: 3px solid #0064FE;
    box-sizing: border-box;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 2px;
    font-size: 1.1em;
    letter-spacing: 0;
}

.nav_items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
    margin-right: 2%;
}

.nav_item {
    display: block;
    text-decoration: none;
    color: #8E8F91;
    width: 100px;
    margin: 0 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.active_nav_item {
    color: white;
    background-color: #0064FE;
}