.add-task-button {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px dashed #8E8F91;
    color: #8E8F91;
    background: #1E1F23;
    font-size: 1.5rem;
    font-weight: bold;
}

.add-task-button:hover {
    background-color: #0064FE;
    box-shadow: 0 0 10px #0064FE, 0 0 40px #0064FE, 0 0 80px #0064FE;
}

.add-task-input-field {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px dashed #8E8F91;
    background: #090A0C;
    color: white;
    box-sizing: border-box;
    padding: 2px;
}