.signup_container {
    margin-top: 8%;
}

.signup_header {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.signup_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: auto;
}

.signup_row_1, .signup_row_2, .signup_row_3, .signup_row_4 {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.signup_row_1 p, .signup_row_2 p, 
.signup_row_3 p, .signup_row_4 p {
    margin: 0;

} 

.signup_input_field {
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    background-color: #1E1F23;
    height: 30px;
    color: white;
}

.signup_input_field:focus {
    outline: none;
}

.signup_button {
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin: 1.5rem 0;
    font-weight: bold;
    background-color: white;
    font-size: 0.9rem;
}

.signup_button:focus {
    outline: none;
}

.signup_button:hover {
    background-color: blue;
}

.have_account_text {
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.login_page_link {
    color: #02E079;
    text-decoration: none;
}