.today {
    width: 90%;
    margin: auto;
}

.timeslot {
    width: 100%;
    margin: auto;
    display: flex;
    border-bottom: 1px solid #8E8F91;
}

.slot-head {
    border-right: 1px solid #8E8F91;
    width: 20%;
}

.slot-body {
    width: 80%;
}

.today_text {
    margin: 8px;
}
